
*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/science-day-1636549802.jpg);
    height: 100vh; /* vh é ref ao tamanho da tela*/
    width: 100vw;
    background-position: center;
    background-size: cover;
    


}

#Menu {
    margin-top: 2%;
    margin-left: 10%;
    font-family: sans-serif;
    font-size: 1.3em;
    color:#d2d0d6;

}
#science img{
    background-image: url(images/science-day-1636549802.jpg);
    object-fit: cover;
        /* Centralizar a imagem e preencher todo o espaço disponível */
    background-position: center;
    background-size: cover;
    background-color: #f0f0f0;
}

#titulo {

        font-family: 'Quicksand', sans-serif;
        background-color: #663399;
        color: beige;
        text-align: center; 
        width: 100%;
        height: 60px;
        margin-top: 0;
        font-size: 23px;
}

  /*  parágrafos "It's very simple to add..." */
#modulo1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #2e2d30;
    margin-top: 2%;
}

.form {
    display:flex;
    justify-content: space-around;

}
.Paragraph {
    color: #473863;
    background-color: antiquewhite; 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    width: 80%;
    margin-inline-start: 20%;
    margin-inline: 6%;
      
}

.selector {
    margin-top: 1%;
    font-family: sans-serif;
    font-size: 18px;
   

}
#Displacement {
    border-bottom:#2e2d30;
    background-color:antiquewhite;
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
    margin-bottom:1%;
    
        
}
.texto1 {
    display:flex;
    flex-direction:column;
}

.subtitle{
    font-family: sans-serif;
    font-size: 17px;


}
#textoInserido  {
    width: 45em;
    height: 100px;
    margin-bottom: 10px;
    background-color: #ba56d9b7; 
    border-radius: 5px;
    box-shadow: 0 10px 15px black;
    padding: 10px;
    font-size: 16px;
    /*margin-left: 50%;*/
    
  }
  #textoInserido::placeholder{
    color: aliceblue;
  }

  #textoResultado {
    width: 45em;
    height: 100px;
    margin-bottom: 10px;
    background-color: #ba56d9b7; 
    border-radius: 5px;
    box-shadow: 0 10px 15px black;
    padding: 10px;
    font-size: 16px;
    /*margin-left: 50%;*/
   
  }

  /* Estilo para os botões "Encode" e "Decode" */
.buttons  {
    background-color: #9370db; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.buttons:hover {
    background-color: #2e2d30; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
    


  
  /* Estilo para o footer */
#footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #4b0082;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
#microscopio img {
    background-image: url(images/microscope_image.png);
    object-position: left ;
}
  

    
  
  /* Estilo para a caixa de texto "Type your confidential repository here" */
  
  
  /* Estilo para a caixa de texto "Here is your result" */
 
